.App {
  text-align: center;
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-80deg);
    transform-origin: -100% 150%;
  }
  to {
    transform: rotate(80deg);
    transform-origin: -100% -50%;
  }
}
